.scrollable{

    overflow: scroll;
    height: 50vh;
    width: 110vw;

  }

.mat-cell{
  padding-left: 1%;
  padding-right: 5%;
  width: 10%;
}

.mat-header-cell{
  padding-left: 1%;
  padding-right: 5%;
  width: 10%;
}
