<div fxLayout='row' fxLayoutAlign="center" style="padding-top: 2%;">

    <mat-card fxFlex="30%">

        <mat-card-title>Edit Degree Requirements</mat-card-title>
        <mat-card-subtitle>Use for form below to edit the acceptance criteria for a degree.</mat-card-subtitle>

        <form [formGroup]="updateDegreeForm" (ngSubmit)="updateDegree()"  >
            
            <button mat-raised-button [matMenuTriggerFor]="modify" id="select_course" color="primary">Select a degree to update</button>
            <mat-menu #modify="matMenu" > 
                <button *ngFor = "let degree of degree$ | async;" mat-menu-item (click)="populateUpdate(degree)">{{degree.Degree_Name}}</button> <!-- its like a bag of marbles/ or a vomiting man-->
            </mat-menu>

            <mat-form-field appearance="outline" style="width: 100%; margin-top: 20px;">
                <mat-label for="Degree_Name">Degree</mat-label>
                <input matInput formControlName='Degree_Name' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
            </mat-form-field>
            
            <div fxLayout="column">
                
                <mat-form-field appearance="outline">
                    <mat-label for="Firm_Offer">FIRM OFFER</mat-label>
                    <input matInput placeholder="Placeholder" formControlName='Firm_Offer' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="Waitlist">WAITLIST</mat-label>
                    <input matInput placeholder="Placeholder" formControlName='Waitlist' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="Reject">REJECT</mat-label>
                    <input matInput placeholder="Placeholder" formControlName='Reject' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
                
            </div>

            <p>
                <button mat-raised-button color="primary" type="submit" (click)='refresh()'>Save Changes</button>
            </p>
        </form>
    </mat-card>
</div>
