<div fxLayout='row' fxLayoutAlign="center" style="padding-top: 2%;">
    <mat-card style="width: 20%;">
        <mat-card-title>APS CALCULATOR</mat-card-title>
        <div style="padding-top: 10%;">
            <form [formGroup]='APSform' (ngSubmit)="sumAPS()">
                <div>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>
                            MATHEMATICS
                        </mat-label>
                        <input matInput formControlName='maths' type='number' placeholder="Your MATHS mark">
                    </mat-form-field>
                </div>
    
                <div>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>
                            ENGLISH
                        </mat-label>
                        <input formControlName='english' type='number' matInput placeholder="Your ENGLISH mark">
                    </mat-form-field>
                </div>
    
                <div>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>
                            LIFE ORIENTATION
                        </mat-label>
                        <input formControlName='lo' type='number' matInput placeholder="Your LIFE ORIENTATION mark">
                    </mat-form-field>
                </div>
                
                <div>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>
                            SUBJECT 1
                        </mat-label>
                        <input formControlName='sub1' type='number' matInput placeholder="Your SUBJECT 1 mark">
                    </mat-form-field>
                </div>
    
                <div>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>
                            SUBJECT 2
                        </mat-label>
                        <input formControlName='sub2' type='number' matInput placeholder="Your SUBJECT 2 mark">
                    </mat-form-field>
                </div>
    
                <div>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>
                            SUBJECT 3
                        </mat-label>
                        <input formControlName='sub3' type='number' matInput placeholder="Your SUBJECT 3 mark">
                    </mat-form-field>
                </div>
    
                <div>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>
                            SUBJECT 4
                        </mat-label>
                        <input formControlName='sub4' type='number' matInput placeholder="Your SUBJECT 4 mark">
                    </mat-form-field>
                </div>
            </form>
            <button mat-flat-button color="primary" (click)='sumAPS()'>CALCULATE</button>

            <div *ngIf='counter' style="padding-top: 5%;">
                <p style="font-size: x-large;">
                    YOUR TOTAL WITS APS POINTS:
                    {{counter}}
                </p>
            </div>
        </div>

        
    </mat-card>
</div>


<router-outlet></router-outlet>
