<header fxLayout="row" style="padding-top: 16px; padding-bottom: 32px;">
    <!-- <pre>{{courseService.courses$ | async | json}}</pre> -->
    <div style="padding-left: 24px;">
        <h1 style="padding-left: 16px;">VIEW COURSE</h1>
        <mat-form-field appearance="fill">
            <mat-label>Choose a Year of Study</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>

        <button style="padding-left: 16px; padding-top: 6px; " mat-button [matMenuTriggerFor]="menu" id="select_course">SELECT COURSE</button>
        <button mat-menu-item (click)="getCSV();" >Export to csv</button>        
            <mat-menu #menu="matMenu" style="padding-left: 16px;"> 
                <button *ngFor = "let course of courses$ | async;" mat-menu-item (click)="displayCourseInfo(course)" style="column-width: 120px;">{{course.Course_Code}}</button> <!-- its like a bag of marbles/ or a vomiting man-->
            </mat-menu>
    </div> 
    

    <div *ngIf='selectedCourse' style='padding-left: 64px; padding-top: 48px;'>
        <mat-dialog-content>
        <mat-card>
                <mat-card-title>SELECTED COURSE</mat-card-title>
            
                <span>
                <p>COURSE CODE:
                <mat-form-field style="padding-left: 12px;">
                    <mat-text>{{selectedCourse.Course_Code}}</mat-text>
                </mat-form-field>
                </p>
                </span> 
                
                <span>
                    <p>COURSE NAME:
                    <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Course_Name}}</mat-text>
                    </mat-form-field>
                    </p>
                </span>
            
                <span>
                    <!--make a dropdown of co-reqs/pre-reqs-->
                    <p>CREDITS:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Credits}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>
            
                <span>
                    <p>NQF LEVEL:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.NQF}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>

                <span>
                    <p>SLOT:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Slot}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>

                <span>
                    <p>SEMESTER:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Semester}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>

                <span>
                    <p>YEAR:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Year}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>

                <span>
                    <p>CO-REQUISITE:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Co_requisite}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>

                <span>
                    <p>PRE-REQUISITE:
                        <mat-form-field>
                            <mat-text>{{selectedCourse.Pre_requisite}}</mat-text>                    
                        </mat-form-field>
                    </p>
                </span> 
            <mat-card-actions>
                <button mat-mini-fab color="accent" (click)="close()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-card-actions>            
        </mat-card>
    </mat-dialog-content>
    </div>
</header>

<!-- -->
<div style="padding-left: 36px;">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef='Course_Code'>
            <th mat-header-cell *matHeaderCellDef> Couse Code </th>
            <td mat-cell *matCellDef="let element"> {{element.Course_Code}} </td>
        </ng-container>

        <ng-container matColumnDef='Course_Name'>
            <th mat-header-cell *matHeaderCellDef> Course Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Course_Name}} </td>
        </ng-container>

        <ng-container matColumnDef='Credits'>
            <th mat-header-cell *matHeaderCellDef> Credits </th>
            <td mat-cell *matCellDef="let element"> {{element.Credits}} </td>
        </ng-container>

        <ng-container matColumnDef='NQF'>
            <th mat-header-cell *matHeaderCellDef> NQF </th>
            <td mat-cell *matCellDef="let element"> {{element.NQF}} </td>
        </ng-container>

        <ng-container matColumnDef='Slot'>
            <th mat-header-cell *matHeaderCellDef> Slot </th>
            <td mat-cell *matCellDef="let element"> {{element.Slot}} </td>
        </ng-container>

        <ng-container matColumnDef='Semester'>
            <th mat-header-cell *matHeaderCellDef> Semester </th>
            <td mat-cell *matCellDef="let element"> {{element.Semester}} </td>
        </ng-container>

        <ng-container matColumnDef='Year'>
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let element"> {{element.Year}} </td>
        </ng-container>

        <ng-container matColumnDef='Co-requisite'>
            <th mat-header-cell *matHeaderCellDef> Co-requisite </th>
            <td mat-cell *matCellDef="let element"> {{element.Co_requisite}} </td>
        </ng-container>

        <ng-container matColumnDef='Pre-requisite'>
            <th mat-header-cell *matHeaderCellDef> Pre-requisite </th>
            <td mat-cell *matCellDef="let element"> {{element.Pre_requisite}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
</div>
<!-- -->

<div style="padding-left: 36px; padding-top: 24px;">
    <h1 >ADD COURSE</h1>

    <form [formGroup]="checkoutForm" (ngSubmit)="addCourse()" >
        
        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label for="Course_Name">COURSE NAME</mat-label>
            <input matInput placeholder="Placeholder" formControlName='Course_Name' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>
    
        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label for="Course_Code">COURSE CODE</mat-label>
            <input matInput placeholder="Placeholder" formControlName='Course_Code' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>

        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label for="Credits">CREDITS</mat-label>
            <input matInput placeholder="Placeholder" formControlName='Credits' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>
    
        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label for="NQF">NQF LEVEL</mat-label>
            <input matInput placeholder="Placeholder" formControlName='NQF' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>
        
        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label for="Slot">Slot</mat-label>
            <input matInput placeholder="Placeholder" formControlName='Slot' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>

        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label for="Semester">Semester</mat-label>
            <input matInput placeholder="Placeholder" formControlName='Semester' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>

        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label for="Year">Year</mat-label>
            <input matInput placeholder="Placeholder" formControlName='Year' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>

        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label for="Pre_Requisite">PRE REQUISITE</mat-label>
            <input matInput placeholder="use ';' to seperate the course code if there are multiple" formControlName='Pre_requisite' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>

        <mat-form-field appearance="outline" style="padding-left: 16px; padding-right: 16px;">
            <mat-label for="Co_Requisite">CO REQUISITE</mat-label>
            <input matInput placeholder="use ';' to seperate the course code if there are multiple" formControlName='Co_requisite' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>

        <button mat-mini-fab color="accent" type="submit" >
            <mat-icon >add</mat-icon>
        </button>
    </form>
 
</div>

<div style="padding-left: 36px; padding-top: 24px;">
    <h1>DELETE COURSE</h1>
    <p>
        <mat-form-field>
            <mat-label>COURSE</mat-label>
            <mat-select #fontSize value="16px" [(ngModel)]='courseToDelete'>
              <mat-option *ngFor = "let course of courses$ | async;" mat-option-item [value]="course" >{{course.Course_Code}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-mini-fab color="accent" (click)="deleteCourse(courseToDelete)" (click)="refresh()">
            <mat-icon >delete</mat-icon>
        </button>
    </p>
</div>

<div style="padding-left: 36px; padding-top: 24px;">
    <h1>UPDATE COURSE</h1>
    <p>
        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label>COURSE NAME</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label>COURSE CODE</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label>NQF LEVEL</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="outline" style="padding-left: 16px;">
            <mat-label>COURSE DESCRIPTION</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>

        <button mat-mini-fab color="accent">
            <mat-icon>done</mat-icon>
        </button>
    </p>  
</div>