.menudemoBasicUsage .md-menu-demo {
    padding: 24px; }
  
    .menudemoBasicUsage .menu-demo-container {
      min-height: 200px; }
  ::ng-deep .my-menu{
    width: 125px;
  }
  table{
    width: 100%;
  }
  .button-row {
    display:table-row;

  }

  header{
    background-color: #202024;
    width: 100%;
  }

  .mat-card{
    width: 150%;
  }

  body{
    // margin: 0;
    // padding: 0;
    background-color: #202024;
    width: 100%;
    height: 200%;
  }