<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%" style="padding-top: 2px;">

        <mat-card fxFlex="79%">

            <mat-card-title>View Course</mat-card-title>
            <mat-card-subtitle>Select a year from the list below to see the available courses for that year.</mat-card-subtitle>

            <mat-card-content >
            
                <mat-form-field appearance="outline" style="width: 300px;">
                    <mat-label>Choose a Year of Study</mat-label>
                    <mat-select>
                    <mat-option (click)="refresh()">None</mat-option>
                    <mat-option *ngFor="let year of years" [value]="year" (click)='displayYearCourse(year)'>{{year}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <p>
                    <button mat-raised-button (click)="getCSV();" color="primary">Export Course List</button> 
                </p>

            </mat-card-content>

        </mat-card>         

    <div *ngIf='selectedCourse' style='padding-left: 64px; padding-top: 48px;'>
        <mat-dialog-content>
        <mat-card>
                <mat-card-title>Selected Course</mat-card-title>
            
                <span>
                <p>Course Code:
                <mat-form-field style="padding-left: 12px;">
                    <mat-text>{{selectedCourse.Course_Code}}</mat-text>
                </mat-form-field>
                </p>
                </span> 
                
                <span>
                    <p>Course Name:
                    <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Course_Name}}</mat-text>
                    </mat-form-field>
                    </p>
                </span>
            
                <span>
                    <!--make a dropdown of co-reqs/pre-reqs-->
                    <p>Credits:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Credits}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>
            
                <span>
                    <p>NQF Level:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.NQF}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>

                <span>
                    <p>Slot:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Slot}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>

                <span>
                    <p>Semester:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Semester}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>

                <span>
                    <p>Year:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Year}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>

                <span>
                    <p>Co-Requisite:
                        <mat-form-field style="padding-left: 12px;">
                        <mat-text>{{selectedCourse.Co_requisite}}</mat-text>
                        </mat-form-field>
                    </p>
                </span>

                <span>
                    <p>Pre-Requisite:
                        <mat-form-field>
                            <mat-text>{{selectedCourse.Pre_requisite}}</mat-text>                    
                        </mat-form-field>
                    </p>
                </span> 
            <mat-card-actions>
                <button mat-mini-fab color="accent" (click)="refresh()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-card-actions>            
        </mat-card>
    </mat-dialog-content>
    </div>

</div>

<!-- -->

<div *ngIf='selectedYear' fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%" style="padding-top: 2px;">

    <mat-card fxFlex="79%">

        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>Filter</mat-label>
            <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Enter something" #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="scrollable-table">

            <ng-container matColumnDef='Course_Code'>
                <th mat-header-cell *matHeaderCellDef> Course Code </th>
                <td mat-cell *matCellDef="let element"> {{element.Course_Code}} </td>
            </ng-container>

            <ng-container matColumnDef='Course_Name'>
                <th mat-header-cell *matHeaderCellDef> Course Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Course_Name}} </td>
            </ng-container>

            <ng-container matColumnDef='Credits'>
                <th mat-header-cell *matHeaderCellDef> Credits </th>
                <td mat-cell *matCellDef="let element"> {{element.Credits}} </td>
            </ng-container>

            <ng-container matColumnDef='NQF'>
                <th mat-header-cell *matHeaderCellDef> NQF </th>
                <td mat-cell *matCellDef="let element"> {{element.NQF}} </td>
            </ng-container>

            <ng-container matColumnDef='Slot'>
                <th mat-header-cell *matHeaderCellDef> Slot </th>
                <td mat-cell *matCellDef="let element"> {{element.Slot}} </td>
            </ng-container>

            <ng-container matColumnDef='Semester'>
                <th mat-header-cell *matHeaderCellDef> Semester </th>
                <td mat-cell *matCellDef="let element"> {{element.Semester}} </td>
            </ng-container>

            <ng-container matColumnDef='Year'>
                <th mat-header-cell *matHeaderCellDef> Year </th>
                <td mat-cell *matCellDef="let element"> {{element.Year}} </td>
            </ng-container>

            <ng-container matColumnDef='Co_requisite'>
                <th mat-header-cell *matHeaderCellDef> Co-Requisites </th>
                <td mat-cell *matCellDef="let element"> {{element.Co_requisite}} </td>
            </ng-container>

            <ng-container matColumnDef='Pre_requisite'>
                <th mat-header-cell *matHeaderCellDef> Pre-Requisites </th>
                <td mat-cell *matCellDef="let element"> {{element.Pre_requisite}} </td>
            </ng-container>
            <ng-container matColumnDef='Shareable'>
                <th mat-header-cell *matHeaderCellDef> Shareable </th>
                <td mat-cell *matCellDef="let element"> {{element.Shareable}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

    </mat-card>

</div>

<!-- -->

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%" style="padding-top: 2px;">
    
    <mat-card fxFlex="25%">

        <mat-card-title>Create Course</mat-card-title>
        <mat-card-subtitle>Use for form below to add a new course to the system.</mat-card-subtitle>

        <mat-card-content>

            <div fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px">
                <button mat-raised-button (click)="setPreReqs('1')" color="primary">Add Pre-Requisite</button>
                <button mat-raised-button (click)="setCoReqs('1')" color="primary">Add Co-Requisite</button>
            </div>    

            <form [formGroup]="checkoutForm" (ngSubmit)="addCourse()" >

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Course_Name">Course Name</mat-label>
                    <input matInput formControlName='Course_Name' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Course_Code">COURSE CODE</mat-label>
                    <input matInput formControlName='Course_Code' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Credits">CREDITS</mat-label>
                    <input matInput formControlName='Credits' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="NQF">NQF LEVEL</mat-label>
                    <input matInput formControlName='NQF' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Slot">SLOT</mat-label>
                    <input matInput formControlName='Slot' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Semester">SEMESTER</mat-label>
                    <input matInput formControlName='Semester' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Year">YEAR</mat-label>
                    <input matInput formControlName='Year' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Pre_Requisite">PRE REQUISITE</mat-label>
                    <input matInput placeholder="use ';' to seperate the course code if there are multiple" formControlName='Pre_requisite' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label for="Co_Requisite">CO REQUISITE</mat-label>
                        <input matInput placeholder="use ';' to seperate the course code if there are multiple" formControlName='Co_requisite' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>            

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Shareable">SHAREABLE</mat-label>
                    <input matInput placeholder="use ';' to seperate the course code if there are multiple" formControlName='Shareable' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
                
                <p>
                    <button mat-raised-button color="primary"  type="submit" (click)='refresh()'>Create Course</button>
                </p>
                
            </form>        

        </mat-card-content>

    </mat-card>

    <mat-card fxFlex="25%">

        <mat-card-title>Update Course</mat-card-title>
        <mat-card-subtitle>Use for form below to update an existing course.</mat-card-subtitle>

        <mat-card-content>

            <form [formGroup]="updateForm" (ngSubmit)="updateCourse()"  >

                <div fxLayout="row" fxLayoutAlign="left" fxLayoutGap="10px">
                    <button mat-raised-button [matMenuTriggerFor]="modify" id="select_course" color="accent" color="primary">Select Course</button>
                    <mat-menu #modify="matMenu" > 
                        <button *ngFor = "let course of courses$ | async;" mat-menu-item (click)="populateUpdate(course)" >{{course.Course_Code}}</button> <!-- its like a bag of marbles/ or a vomiting man-->
                    </mat-menu>
                    <button mat-raised-button (click)="setPreReqs('0')" color="primary">Add Pre-Requisite</button>
                    <button mat-raised-button (click)="setCoReqs('0')" color="primary">Add Co-Requisite</button>
                </div>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Course_Code">COURSE CODE</mat-label>
                    <input matInput formControlName='Course_Code' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
                
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Course_Name">COURSE NAME</mat-label>
                    <input matInput formControlName='Course_Name' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
                
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Credits">CREDITS</mat-label>
                    <input matInput formControlName='Credits' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
                
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="NQF">NQF LEVEL</mat-label>
                    <input matInput formControlName='NQF' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
        
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Slot">SLOT</mat-label>
                    <input matInput formControlName='Slot' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
                
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Semester">SEMESTER</mat-label>
                    <input matInput formControlName='Semester' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
        
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Year">YEAR</mat-label>
                    <input matInput formControlName='Year' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
        
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Pre_Requisite">PRE REQUISITE</mat-label>
                    <input matInput placeholder="use ';' to seperate the course code if there are multiple" formControlName='Pre_requisite' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
        
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Co_Requisite">CO REQUISITE</mat-label>
                    <input matInput placeholder="use ';' to seperate the course code if there are multiple" formControlName='Co_requisite' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label for="Shareable">SHAREABLE</mat-label>
                    <input matInput placeholder="use ';' to seperate the course code if there are multiple" formControlName='Shareable' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <p>
                    <button mat-raised-button color="primary"  type="submit" (click)='refresh()'>Save Changes</button>
                </p>
                
            </form>

        </mat-card-content>

    </mat-card>
    <mat-card fxFlex="25%">

        <mat-card-title>Delete Course</mat-card-title>
        <mat-card-subtitle>Use for function below to remove a course from the system.</mat-card-subtitle>

        <mat-card-content>

            <mat-form-field appearance="outline" style="width: 300px;">
                <mat-label>Choose a course to delete</mat-label>
                <mat-select #fontSize value="16px"   name = 'coursesToDelete'  ngDefaultControl [(ngModel)]='courseToDelete'>
                    <mat-option *ngFor = "let course of courses$ | async;" mat-option-item [value]="course" >{{course.Course_Code}}</mat-option>
                </mat-select>
            </mat-form-field>

            <p>
                <button mat-raised-button (click)="deleteCourse(courseToDelete)" color="primary">Delete Course</button> 
            </p>

        </mat-card-content>

    </mat-card>
</div>