mat-card-actions {
    margin: 0;
}

mat-card-content {
    margin-top: 20px;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
    margin: 0;
}