mat-toolbar {
    justify-content: center;
}

.content {
    padding: 16px;
}

.content>mat-card {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: 600px;
}

body div {
    height: 100vh;
    width: 100vw;
}