.menudemoBasicUsage .md-menu-demo {
    padding: 24px; }
  
    .menudemoBasicUsage .menu-demo-container {
      min-height: 200px; }
  ::ng-deep .my-menu{
    width: 125px;
  }

  h1{
    margin: 0;
    background-color: #202024;
  }

  body{
    margin: 0;
    padding: 0;
    background-color: #202024;
    width: 100%;
    height: 250%;
  }

  // .mat-card{
  //   background-color: rgba(255, 255, 255, 0.5);
  // }