<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%" style="padding-top: 2px;">

    <mat-card fxFlex="25%" style="min-height: 500px; vertical-align: middle;">

        <button style="float: right;" mat-raised-button (click)="openCourseView('1')" color="primary">Add Courses</button>

        <mat-card-title>First Year</mat-card-title>
        <mat-card-subtitle>Select the courses for Year 1 of your degree.</mat-card-subtitle>

        <mat-card-content>

            <table mat-table [dataSource]="year1Courses" >
                <ng-container matColumnDef='Course_Code' >
                    <th mat-header-cell *matHeaderCellDef> Couse Code </th>
                    <td mat-cell *matCellDef="let element " > {{element.Course_Code}} </td>
                </ng-container>
    
                <ng-container matColumnDef='Course_Name'>
                    <th mat-header-cell *matHeaderCellDef > Course Name </th>
                    <td mat-cell *matCellDef="let element" > {{element.Course_Name}} </td>
                </ng-container>
                
                <ng-container matColumnDef='Semester'>
                    <th mat-header-cell *matHeaderCellDef> Semester </th>
                    <td mat-cell *matCellDef="let element"> {{element.Semester}} </td>
                </ng-container>
                <ng-container matColumnDef='button' >
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element " > 
                        <button mat-mini-fab color="primary" (click)="removeCourse(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row  [matTooltip]="formatRequirementInfo(row.Course_Code)"  matTooltipPosition="right"  *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': formatRequirementInfo(row.Course_Code) != ''}"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4"> No Courses Selected</td>
                </tr>
            </table>

            <hr />

            <div style="margin-bottom: 30px">
                <strong>Missing Courses:</strong>
                <div *ngFor="let item of displayMissingCourse()[0]" >
                    {{item}}
                </div>
            </div>
    
            <div style="margin-bottom: 30px">
                <strong>Possible Clashes:</strong>
                <div *ngFor="let item of year1Clashes;">
                    {{item.Course_Code}}
                </div>
            </div>
    
            <div>
                <strong>Current Credit:</strong>
                <div *ngFor="let credit of countcoursecredits1()[0]">
                    {{credit}} Credits out of 144
                </div>
            </div>

        </mat-card-content>
    
    </mat-card>

    <mat-card fxFlex="25%" style="min-height: 500px; vertical-align: middle;">

        <button style="float: right;" mat-raised-button (click)="openCourseView('2')" color="primary">Add Courses</button>

        <mat-card-title>Second Year</mat-card-title>
        <mat-card-subtitle>Select the courses for Year 2 of your degree.</mat-card-subtitle>

        <mat-card-content>

            <table mat-table [dataSource]="year2Courses" >
                <ng-container matColumnDef='Course_Code' >
                    <th mat-header-cell *matHeaderCellDef> Couse Code </th>
                    <td mat-cell *matCellDef="let element " > {{element.Course_Code}} </td>
                </ng-container>
        
                <ng-container matColumnDef='Course_Name'>
                    <th mat-header-cell *matHeaderCellDef > Course Name </th>
                    <td mat-cell *matCellDef="let element" > {{element.Course_Name}} </td>
                </ng-container>
                
                <ng-container matColumnDef='Semester'>
                    <th mat-header-cell *matHeaderCellDef> Semester </th>
                    <td mat-cell *matCellDef="let element"> {{element.Semester}} </td>
                </ng-container>
                <ng-container matColumnDef='button' >
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element " > 
                        <button mat-mini-fab color="primary" (click)="removeCourse(element)">
                            <mat-icon>delete</mat-icon>
                            </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row [matTooltip]="formatRequirementInfo(row.Course_Code)"  matTooltipPosition="right" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': formatRequirementInfo(row.Course_Code) != ''}"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4"> No Courses Selected</td>
                </tr>
            </table>

            <hr />

            <div style="margin-bottom: 30px">
                <strong>Missing Courses:</strong>
                <div *ngFor="let item of displayMissingCourse()[1]" >
                    {{item}}
                </div>
            </div>
    
            <div style="margin-bottom: 30px">
                <strong>Possible Clashes:</strong>
                <div *ngFor="let item of year2Clashes;">
                    {{item.Course_Code}}
                </div>
            </div>
    
            <div>
                <strong>Current Credit:</strong>
                <div *ngFor="let credit of countcoursecredits2()[0]">
                    {{credit}} Credits out of 144
                </div>
            </div>

        </mat-card-content>

    </mat-card>

    <mat-card fxFlex="25%" style="min-height: 500px; vertical-align: middle;">

        <button style="float: right;" mat-raised-button (click)="openCourseView('3')" color="primary">Add Courses</button>

        <mat-card-title>Third Year</mat-card-title>
        <mat-card-subtitle>Select the courses for Year 3 of your degree.</mat-card-subtitle>

        <mat-card-content>

            <table mat-table [dataSource]="year3Courses" >
                <ng-container matColumnDef='Course_Code' >
                    <th mat-header-cell *matHeaderCellDef> Couse Code </th>
                    <td mat-cell *matCellDef="let element " > {{element.Course_Code}} </td>
                </ng-container>
        
                <ng-container matColumnDef='Course_Name'>
                    <th mat-header-cell *matHeaderCellDef > Course Name </th>
                    <td mat-cell *matCellDef="let element" > {{element.Course_Name}} </td>
                </ng-container>
                
                <ng-container matColumnDef='Semester'>
                    <th mat-header-cell *matHeaderCellDef> Semester </th>
                    <td mat-cell *matCellDef="let element"> {{element.Semester}} </td>
                </ng-container>
                <ng-container matColumnDef='button' >
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element " > 
                        <button mat-mini-fab color="primary" (click)="removeCourse(element)">
                            <mat-icon>delete</mat-icon>
                            </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row [matTooltip]="formatRequirementInfo(row.Course_Code)"  matTooltipPosition="right" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': formatRequirementInfo(row.Course_Code) != ''}"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4"> No Courses Selected</td>
                </tr>
            </table>

            <hr />

            <div style="margin-bottom: 30px">
                <strong>Missing Courses:</strong>
                <div *ngFor="let item of displayMissingCourse()[2]" >
                    {{item}}
                </div>
            </div>
    
            <div style="margin-bottom: 30px">
                <strong>Possible Clashes:</strong>
                <div *ngFor="let item of year3Clashes;">
                    {{item.Course_Code}}
                </div>
            </div>
    
            <div>
                <strong>Current Credit:</strong>
                <div *ngFor="let credit of countcoursecredits3()[0]">
                    {{credit}} Credits out of 144
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
