@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #e2eaf2,
    100 : #b6cbdf,
    200 : #85a9ca,
    300 : #5487b4,
    400 : #306da4,
    500 : #0b5394,
    600 : #0a4c8c,
    700 : #084281,
    800 : #063977,
    900 : #032965,
    A100 : #95b6ff,
    A200 : #6294ff,
    A400 : #2f71ff,
    A700 : #155fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-dark: (
    50 : #e7e7e8,
    100 : #c2c4c6,
    200 : #9a9da0,
    300 : #717579,
    400 : #52585d,
    500 : #343a40,
    600 : #2f343a,
    700 : #272c32,
    800 : #21252a,
    900 : #15181c,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($md-mcgpalette0);
$candy-app-accent:  mat-palette($mat-blue, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}

.alternative {
  // Define an alternate dark theme.
  $dark-primary: mat-palette($md-dark);
  $dark-accent:  mat-palette($mat-blue, A200, A100, A400);
  $dark-warn:    mat-palette($mat-deep-orange);
  $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);

  body {
    background-image: url('../assets/images/sahand-babali-owjrvbyXYyc-unsplash.jpg');
    //background-repeat: no-repeat;
    background-size: cover;
  }
}


// --------------------------------------------------------------------------
//                                GLOBAL STYLES
// --------------------------------------------------------------------------

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.scrollable {

  overflow: scroll;
  height: 50vh;
  width: 110vw;

}

$header-height: 100px;

body {
  background-image: url('../assets/images/sahand-babali-owjrvbyXYyc-unsplash.jpg');
  //background-repeat: no-repeat;
  background-size: cover;
}

.content {
  margin: 20px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  z-index: 1000;
  box-shadow: 0px 1px 4px #000000;
}


.title {
  color: rgba(255,255,255,0.5);
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

.title:hover {
  color: #ffffff;
  text-decoration: none;
}

mat-card.mat-card.mat-focus-indicator {
  box-shadow: 0px 2px 1px #000000;
}

.form-error {
  margin-top: 20px;
  color: red;
}

mat-form-field {
  margin-top: 10px;
}

.mat-card-title {
  margin-top: 10px !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

p {
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}

mat-label {
  text-transform: uppercase !important;
}

mat-card {
  margin-bottom: 10px;
}

.mat-header-cell, .mat-cell {
  padding-left: 5px !important;
  padding-right: 25px !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
}

hr {
  border-top: 1px dashed #aeaeae;
  border-bottom: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

th.ng2-smart-actions, 
th.ng2-smart-th,
th.ng2-smart-actions-title.ng2-smart-actions-title-add,
td {
  border: 1px solid #e9ebec !important;
}

a.ng2-smart-sort-link,
.ng2-smart-title,
td.ng2-smart-actions,
th.ng2-smart-actions-title.ng2-smart-actions-title-add {
  //float: left;
  text-align: left;
}

// tr.ng2-smart-filters {
//   display: none;
// }

li.ng2-smart-page-item.page-item {
  width: 15px;
  text-align: center;
  font-size: 15px;
}

.offer-page > mat-card:nth-of-type(3) > ng2-smart-table > table > thead > tr:nth-of-type(2) {
  display: none;
}

a.ng2-smart-action.ng2-smart-action-add-create {
  margin-right: 10px;
}