<div fxLayout='row' fxLayoutAlign="center" style="padding-top: 2%;" color="primary">

    <mat-card fxFlex="30%">
        <mat-card-title>Edit Subject APS</mat-card-title>
        <mat-card-subtitle>Use for form below to update the Admission Point Score (APS) for a course.</mat-card-subtitle>

        <mat-card-content>

            <form [formGroup]="updateAPSForm" (ngSubmit)="updateAPS()"  >
                
                <button mat-raised-button [matMenuTriggerFor]="modify" id="select_course" color="primary">Select a subject to update</button>
                <mat-menu #modify="matMenu" > 
                    <button *ngFor = "let subject of sujects$ | async;" mat-menu-item (click)="populateUpdate(subject)">{{subject.Subject}}</button> <!-- its like a bag of marbles/ or a vomiting man-->
                </mat-menu>

                <mat-form-field appearance="outline" style="width: 100%; margin-top: 20px;">
                    <mat-label for="Subject">SUBJECT</mat-label>
                    <input matInput formControlName='Subject' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <div fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%">
                        <mat-form-field fxFlex="49%" appearance="outline">
                            <mat-label for="l100">LEVEL 100 - 90</mat-label>
                            <input matInput formControlName='Level_100_90' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                        </mat-form-field>
                        <mat-form-field fxFlex="49%" appearance="outline">
                            <mat-label for="l80">LEVEL 89 - 80</mat-label>
                            <input matInput formControlName='Level_89_80' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%">
                        <mat-form-field fxFlex="49%" appearance="outline">
                            <mat-label for="l70">LEVEL 79 - 70</mat-label>
                            <input matInput formControlName='Level_79_70' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                        </mat-form-field>
                        <mat-form-field fxFlex="49%" appearance="outline">
                            <mat-label for="l60">LEVEL 69 - 60</mat-label>
                            <input matInput formControlName='Level_69_60' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%">
                        <mat-form-field fxFlex="49%" appearance="outline">
                            <mat-label for="l50">LEVEL 59 - 50</mat-label>
                            <input matInput formControlName='Level_59_50' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                        </mat-form-field>
                        <mat-form-field fxFlex="49%" appearance="outline">
                            <mat-label for="l40">LEVEL 49 - 40</mat-label>
                            <input matInput formControlName='Level_49_40' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%">
                        <mat-form-field fxFlex="49%" appearance="outline">
                            <mat-label for="l30">LEVEL 39 - 30</mat-label>
                            <input matInput formControlName='Level_39_30' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                        </mat-form-field>
                        <mat-form-field fxFlex="49%" appearance="outline">
                            <mat-label for="l20">LEVEL 29 - 0</mat-label>
                            <input matInput formControlName='Level_29_0' style='text-transform:uppercase' oninput="this.value = this.value.toUpperCase()">
                        </mat-form-field>
                    </div>
                </div>

                <p>
                    <button mat-raised-button color="primary" (click)='refresh()'>Save Changes</button>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>